/* @font-face {
  font-family: big_circle;
  src: url(../../../public/font/GenSenRounded-R.ttc);
} */

* {
  box-sizing: border-box;
  font-family: art;
}

h2 {
  font-weight: 900;
  color: #40220f;
}

body {
  background-color: #fff5de;
}

ul {
  font-size: 15px;
  color: #966134;
}

span {
  font-size: 18px;
}


/* --------------------------------------------------------------------- */
/* MemberChevron */
.Web {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.Web-path {
  width: 30%;
}

.aa-tital {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.aa {
  width: 250px;
  height: 30px;
  background-color: #fff;
  border-radius: 30px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.aa input {
  outline: none;
  border: none;
  background-color: #fff;
}

.orange {
  width: 40px;
  height: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.order {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.orderPage {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.orderPage i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2rem;
  /* 文字置中 */
}

.orderPage .fa-light {
  color: #40210f;
}

.fa-1 {
  /* background-color: red; */
  /* background: url(../image/cat.png) no-repeat center center; */
  background-size: 30px 30px;
}

.chevron {
  background-color: #a4a5a5;
  border-radius: 40px;
}

.aa-page span:first-child {
  color: darkorange;
}

.chevron {
  height: 30px;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
}

.chevron-a {
  width: 40px;
  height: 100%;
  background-color: rgb(80, 78, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.chevron-b {
  width: 40px;
  height: 100%;
  background-color: rgb(105, 100, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

/* --------------------------------------------------------------------- */
/* MemberShip-page */

.Web-path {
  color: #dcdddd;
  margin-bottom: 40px;
}

.member {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.member-ship {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-shipL {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-photo {
  width: 80px;
  height: 80px;
  background-color: darkblue;
  border-radius: 50%;
  overflow: hidden;
  /* 超出去的切掉 */
  margin-bottom: 15px;
  border: 2px solid#DCDDDD;
}

.member-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 自動等比例延展圖片 */
}

.member-icon {
  margin-top: 50px;
}

.member-icon ul {
  display: flex;
  justify-content: space-around;
  margin-bottom: 35px;
}

.member-icon ul li {
  cursor: pointer;
}

/* --------------------------------------------------------------------- */
/* MemberLevel */
.degreeWrap {
  width: 100%;
  /* height: 70%; */
  display: flex;
}

.degree {
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  /* 從上到下 */
  align-items: center;
}

.d1 {
  transform: perspective(200px) translateZ(-50px);
}

.d2 {
  transform: perspective(400px) translateZ(50px);
}

.d3 {
  transform: perspective(200px) translateZ(-50px);
}

.degreeC {
  display: flex;
  flex-direction: column;
}

.card-degree {
  width: 100%;
  background-color: #fff;
  padding-top: 80px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.degreeImg {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 120px 15px -70px rgb(123, 122, 122);
}

.degreeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.degree-card {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.degree-card h2 {
  font-size: 20px;
}

.degree-card p {
  font-size: 14px;
}

.degree-txt {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  color: #966134;
  align-self: center;
}

.degreeIcon {
  margin: 5px 0px;
}



.ship-bottom {
  width: 100%;
  height: 200px;
  background-color: #c9caca;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;

}

.ship {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ship h2 {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
}

.ship p {
  font-size: 10px;
  color: #966134;
  text-align: center;
}

.input-text {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.input {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
}

.range {
  width: 100%;
  height: 10px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3px;
}

.range div {
  width: 20%;
  height: 100%;
  background-color: red;
}

.inputRange {
  width: 40%;
}

/* --------------------------------------------------------------------- */
/* MembePetAdd */

.peat-ship {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  overflow: auto;
}

.pet_icon {
  width: 8%;
  display: flex;
  justify-content: space-between;
}

.peat-name {
  margin-bottom: 30px;
  width: 100%;
}

.peat {
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.peat-photo {
  width: 80px;
  height: 80px;
  background-color: darkblue;
  border-radius: 50%;
  overflow: hidden;
  /* 超出去的切掉 */
  border: 2px solid#DCDDDD;
}

.peat-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 自動等比例延展圖片 */
}

.peat span {
  color: #966134;
  margin-right: 50px;
}

.text span:nth-child(2) {
  color: #40220f;
}

.icon {
  color: #966134;
}

.icon i {
  margin-left: 20px;
}

.button {
  cursor: pointer;
  /* 滑鼠點擊樣式 */
  font-size: 20px;
  color: #40220f;
  font-weight: 900;
}

.addPetbutton {
  font-size: 20px;
  cursor: pointer;
}


.peat-add {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
}

.up-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #dcdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  color: #a4a5a5;
}

.up-photo i {
  margin-bottom: 10px;
  color: #a4a5a5;
  font-size: 25px;
}

.peatPID label {
  font-size: 14px;
  color: #a4a5a5;
}

.peatAll {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.peatChoose {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* pee add page */
.button {
  background-color: darkorange;
  background: 50%;
  color: #fff;
}

.buttonAdd {
  width: 80px;
  height: 30px;
  background-color: darkorange;
  border-radius: 20px;
  color: #fff;
  border: darkorange;
}



#uname {
  width: 160px;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #a4a5a5;
  color: #a4a5a5;
  background-color: #fff;
}

.peatAddID input::-webkit-input-placeholder {
  color: #a4a5a5;
}

.peatAddID {
  width: 80%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

/* --------------------------------------------------------------------- */
/* MembeArticle */

.article-all .thin {
  font-size: 30px;
}

.trash {
  font-size: 20px;
}

.articleWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.articleInfo {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.article h5 {
  font-size: 20px;
  margin-bottom: 10px;
}

.article-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.article-details {
  background-color: #fff;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 25px;

}

.article-all {
  display: flex;
  width: 40%;
}

.hashtag span {
  margin-right: 10px;
}

.hashtag span::before {
  content: '#';
}

.author h2 {
  font-weight: 900;
  font-size: 18px;
  color: #40220f;
}

.author p {
  font-weight: 100;
  color: #40220f;
}

.author {
  display: flex;
  flex-direction: column;
}

.author h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.article-delete {
  width: 121px;
  height: 35px;
  border: 1px solid rgb(62, 55, 55);
  border-radius: 30px;
  padding: 10px;
}

/* --------------------------------------------------------------------- */
/* MemberAppointment */

.time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.Hospital-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

.Hospital-order {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10%;
}


.Hospital-order {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.Hospital-order h3 {
  font-size: 19px;
  color: #40220f;
}

.Hospital-order h3:first-child {
  color: firebrick;
  font-weight: 500;
}

.Hospital-order h3:last-child {
  color: #a4a5a5;
  font-weight: 500;

}


.Hospital-all {
  padding: 20px 0;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  background-color: #fff;
  border-radius: 20px;
}

.Hospital {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.Hospital-title {
  justify-content: space-between;
}

.Hospital-details {
  display: flex;
  flex-direction: column;
}

.Hospital h2 {
  font-weight: 900;
  font-size: 18px;
  color: #40220f;
}

.Hospital p {
  font-weight: 100;
  color: #40220f;
}

.Hospital-A {
  display: flex;
  padding: 10px 0 0;
}

.Hospital-A h5 {
  margin-right: 10px;
  font-size: 16px;
}

.Hospital-A span {
  font-size: 16px;
  color: #966134;
}

/* --------------------------------------------------------------------- */
/* MemberProductCollect */

.product-title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkbox-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-photo {
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.product-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proudct-price {
  display: flex;
  align-items: center;
}

.product-img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  width: 100%;
  height: 3px;
  /* background-color: rgba(130, 121, 125, 0.454); */
  position: absolute;
  top: 130px;
  box-shadow: 0 30px 20px;
}

.proudct-price h5 {
  font-size: 14px;
  color: red;
  margin-left: 10px;
}

.delete {
  font-size: 15px;
  border-radius: 30px;
  color: #606868;
  background-color: #fff5de;
  border: none;
  outline: 1px solid#606868;
  padding: 10px 25px;
}

/* --------------------------------------------------------------------- */
/* orderPage */
.order {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.orderPage {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.orderPage i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 2rem;
  /* 文字置中 */
}

.orderPage .fa-light {
  color: #40210f;
}

/* --------------------------------------------------------------------- */
/* MemberHistoryCamera */


.orderCameraWrap {
  display: flex;
  flex-direction: column;
}

.orderCamera-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detailCamera {
  display: flex;
  align-items: flex-end;
  width: 40%;
}

.priceCamera {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 40%;
}

.orderCamera {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}



/* --------------------------------------------------------------------- */
/* ＭemberHistoryProduct */

.orderProductWrap {
  display: flex;
  flex-direction: column;
}

.orderProduct-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.orderProduct {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detailProduct {
  display: flex;
  align-items: flex-end;
  width: 40%;
}

.priceProduct {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
}


/* --------------------------------------------------------------------- */
/* MemberPassword */


.input input {
  border: none;
  outline: none;
}

.button {
  width: 80px;
  height: 40px;
  background-color: rgb(242, 140, 31);
  border-radius: 30px;
  border-color: #ccc;
  color: rgb(255, 253, 253);
  font-size: 14px;
  border: none;
  margin-top: 30px;
}


.pagePassword {
  width: 700px;
  margin: 0 auto;
  /* padding: 40px 0px; */
  height: 350px;
  background-color: #ffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enter-A {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-bottom: 30px;
}

.enter-B {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  background: #FaFaFa;
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.enter-L select {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  color: #727171;
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
}

.enter-M select {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  color: #727171;
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
}

.input {
  margin-left: 15px;
}

.s1 {
  color: darkorange;
}

.Revise {
  width: 300px;
  height: 200px;
  background-color: #FaFaFa;
  margin: 30px;
  border-radius: 30px;
}

.pet_text {
  justify-content: space-between;
  width: 70%;
  display: flex;
}

/* --------------------------------------------------------------------- */
/*MemberProfileUp */


.singUp-page {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.pageProfileUp {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px;
  /* height: 350px; */
  background-color: #ffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.page-left {
  width: 70%;
}

.enter-L {
  width: 32%;
  display: flex;
  justify-content: center;
}

.enter-M {
  width: 45%;
  display: flex;
  justify-content: center;
}

.enter-P {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.enter-B {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addressA {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 250px;
}



.input {
  margin-left: 15px;
}

.s1 {
  color: darkorange;
}

.text {
  display: flex;
  justify-content: space-between;
}

.up-photoProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #dcdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4a5a5;
  margin-bottom: 20px;
  overflow: hidden;
}

.up-photoProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.radio {
  width: 250px;
  display: flex;
  align-items: center;
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo input {
  /* background-color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid#989898;
  color: #989898; */
}

.dd {
  width: 250px;
  outline: 1px solid #989898;
  height: 30px;
  border-radius: 30px;
  padding-left: 10px;
}

.member_date {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* --------------------------------------------------------------------- */
/* ForgrtPasswordsuccess . MemberSingsuccess */


.fill {
  width: 100%;
  height: 100vh;
  background-color: #989898;
  opacity: 0.7;
  position: absolute;
}

.success {
  width: 400px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  border-radius: 30px;
  top: 40%;
  left: 40%;
}

.success h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}