@font-face {
  font-family: big_circle;
  src: url(../../../public/font/GenSenRounded-R.ttc);
}

* {
  box-sizing: border-box;
  font-family: big_circle;
}

h2 {
  font-weight: 900;
  color: #40220f;
}

h1 {
  font-weight: 900;
  color: #40220f;
}

body {
  background-color: #fff5de;
}

ul {
  font-size: 15px;
  color: #966134;
}


.buttonLogIn {
  width: 100px;
  height: 40px;
  background-color: #ccc;
  border-radius: 17px;
  border-color: #ccc;
  color: rgb(113, 103, 103);
  font-size: 14px;
  border: none;
  margin-bottom: 40px;
}

.eyeicon {
  cursor: pointer;

}

.login_bottom {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

/* 1200  100% */
.loginpage {
  width: 800px;
  margin: 0 auto 50px;
  padding: 40px 10px;
  background-color: #ffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInenterA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-bottom: 30px;
}

.logInenterB {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  background: #fafafa;
  display: flex;
  align-items: center;
}

.logInenterC {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  background: #fafafa;
  display: flex;
  align-items: center;
}

.lock_icon {
  margin-left: 15px;
}

.logIninput {
  margin-left: 15px;
}

.s1 {
  color: darkorange;
  cursor: pointer;
}

.Revise {
  width: 300px;
  height: 200px;
  background-color: #fafafa;
  margin: 30px;
  border-radius: 30px;
}

.text {
  justify-content: center;
}