@font-face {
  font-family: big_circle;
  src: url(../../../public/font/GenSenRounded-R.ttc);
}
.signUpPage {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.pageLeft {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fill {
  width: 100%;
  height: 100vh;
  background-color: #989898b1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.success {
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 30px;
  top: 40%;
  left: 40%;
}
.success h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.signUpPage {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 55px;
}

.memberWebPath {
  color: #dcdddd;
  margin-bottom: 40px;
}

/* input {
  border: none;
  outline: none;
} */

.button {
  width: 80px;
  height: 40px;
  background-color: rgb(242, 140, 31);
  border-radius: 30px;
  border-color: #ccc;
  color: rgb(255, 253, 253);
  font-size: 14px;
  border: none;
  margin-top: 30px;
  margin-left: 140px;
}

/* 1200  100% */
.page {
  width: 700px;
  margin: 0 auto;
  padding: 30px 0px;
  /* height: 350px; */
  background-color: #ffff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.enterB {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.enterC {
  display: flex;

  align-items: center;
}
.address {
  display: flex;
  width: 250px;
}
.input {
  margin-left: 15px;
}

.s1 {
  color: darkorange;
}

.text {
  justify-content: center;
}

.upSignphoto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #dcdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4a5a5;
  margin-bottom: 20px;
  overflow: hidden;
}
.upSignphoto i {
  margin: 0;
  color: #a4a5a5;
  font-size: 40px;
}
.upSignphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.radio {
  width: 250px;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo label {
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid#989898;
  color: #989898;
  cursor: pointer;
}
.cc {
  width: 250px;
  border: 1px solid #989898;
  outline: none;
  height: 30px;
  border-radius: 30px;
  padding-left: 10px;
}
.enterA {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 80%;
}
.enterA i {
  position: absolute;
  top: 7px;
  right: 10px;
  color: #40210f;
}
/* placehold  */
.enterA input::-webkit-input-placeholder {
  font-size: 6px;
}

.enterB {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.enterC {
  width: 250px;
  height: 30px;
  border: 1px solid #989898;
  border-radius: 30px;
  background: #fafafa;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.enterD select {
  width: 80px;
  height: 35px;
  border-radius: 20px;
  border: none;
  border: 1px solid #989898;
  color: #a4a5a5;
  background-color: #fff;
  padding: 5px 10px;
  outline: none;
  margin-left: 15px;
}
.address {
  display: flex;
  width: 270px;
}
.addressText {
  margin-left: 140px;
  margin-bottom: 10px;
}
.input {
  margin-left: 15px;
}

.s1 {
  color: darkorange;
}

.text {
  justify-content: center;
}

.upPhotoProfile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #dcdddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a4a5a5;
  margin-bottom: 20px;
  overflow: hidden;
}
.upPhotoProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.radio {
  width: 250px;
}
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo input {
  background-color: #fff;
  width: 80px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid#989898;
  color: #989898;
}
