.post_crumb{
  width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}


.forum_post_card{
  width: 1200px;
  height: 550px;
  border-radius: 15px;
  background-color: white;
  margin: auto;
  margin-bottom: 50px;

  }

.forum_post_top{
width: 900px;
height: 100px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
  }

.forumPostSort{
  border: 1px solid #727171;
  border-radius: 15px;
  height: 30px;
  color: #727171;
  width: 120px;
  padding-left: 15px ;
}

#forum_post_title_bar{
width: 760px;
height: 30px;
border: 1px solid #727171;
border-radius: 15px;
background-color: transparent;
padding-left: 15px ;
}

.forum_post_content_bar{
  margin: auto;
  width: 900px;
  height: 300px;
  border: 1px solid #727171;
  border-radius: 15px;

  }


#forum_post_content_bar{
width: 900px;
height: 300px;
border: 1px solid #727171;
border-radius: 15px;
display: flex;

}

.forum_post_icon{
width: 900px;
margin: 10px auto;
display: flex;
justify-content: end;
 }

#forum_smile{
  color: #b5b5b6;
  margin-right: 10px;
}

#forum_image{
  color: #b5b5b6;
}

#forum_post_content_bar{
padding: 10px 0px 0px 15px ;
background-color: transparent;
border: none;
}

.forum_post_button{
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

#forum_post_button{

margin: 40px 0px 0px 0px;
width: 120px;
height: 30px;
border: none;
border-radius: 20px;
color: white;


}

