@font-face {
  font-family: 'art';
  src: url('../../public/font/GenSenRounded-R.ttc');
}

*{
  box-sizing: border-box;
}

#dog {
  background-color: #c9bc9c;
}
#cat {
  background-color: #4c748e;
}

#switch_button {
  font-size: 50px;
}

#dog .bg_main_color {
  background-color: #ea5514;
}

#dog .text_main_color {
  color: #ea5514;
}

#dog .bg_main_light_color1 {
  background-color: #f8b62b;
  &:hover {
    background-color: #ea5514;
  }
}

#dog .border_main_light_color1 {
  border:1px solid #f8b62b;
  background-color: #fff;
  color: #f8b62b;
  &:hover{
    color: #ea5514;
    border: 1px solid #ea5514;
  }
}



#dog .bg_main_light_color1.active {
  background-color: #ea5514;
}

#dog .text_main_light_color1 {
  color: #f8b62b;
}

#dog .bg_main_light_color2 {
  background-color: #c9bc9c;
}

#dog .text_main_light_color2 {
  color: #c9bc9c;
}

#dog .bg_main_dark_color1 {
  background-color: #956134;
}

#dog .text_main_dark_color1 {
  color: #956134;
}

#dog .bg_main_dark_color2 {
  background-color: #40220f;
}

#dog .text_main_dark_color2 {
  color: #40220f;
}

#dog .text_hover_main_dark_color2 {
  color: #40220f;
  &:hover{
    color: #fff;
  }
}

#dog .bg_bright_color {
  background-color: #fff5de;
}

#dog .text_bright_color {
  color: #fff5de;
}

#dog .foot_type{
  background-image: url('../../public/images/dogs_foot_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#dog .logo{
  background-image: url('../../public/images/logo_PetBan_2_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#dog .index_photo_bg{
  background-image: url('../../public/images/room_1_DogMode.png');
}

#dog .border_big_main_light_color1 {
  border:3px solid #f8b62b;
  background-color: #fff;
  color: #f8b62b;
  &:hover{
    color: #ea5514;
    border: 3px solid #ea5514;
  }
}

#cat .bg_main_color {
  background-color: #4c748e;
}

#cat .text_main_color {
  color: #4c748e;
}

#cat .bg_main_light_color1 {
  background-color: #00a29a;
  &:hover {
    background-color: #4c748e;
  }
}

#cat .border_main_light_color1 {
  border:1px solid #00a29a;
  background-color: #fff;
  color: #00a29a;
  &:hover{
    color: #4c748e;
    border: 1px solid #4c748e;
  }
}



#cat .bg_main_light_color1.active {
  background-color: #4c748e;
}

#cat .text_main_light_color1 {
  color: #00a29a;
}

#cat .bg_main_light_color2 {
  background-color: #4c748e;
}

#cat .text_main_light_color2 {
  color: #4c748e;
}

#cat .bg_main_dark_color1 {
  background-color: #fff5de;
}

#cat .text_main_dark_color1 {
  color: #fff5de;
}

#cat .bg_main_dark_color2 {
  background-color: #18334e;
}

#cat .text_main_dark_color2 {
  color: #18334e;
}


#cat .text_hover_main_dark_color2 {
  color: #18334e;
  &:hover{
    color: #fff;
  }
}


#cat .bg_bright_color {
  background-color: #a4ced0;
}

#cat .text_bright_color {
  color: #a4ced0;
}

#cat .foot_type{
  background-image: url('../../public/images/cats_foot_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#cat .logo{
  background-image: url('../../public/images/logo_PetBan_3_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#cat .index_photo_bg{
  background-image: url('../../public/images/room_1_CatMode.png');
}

#cat .border_big_main_light_color1 {
  border:3px solid #00a29a;
  background-color: #fff;
  color: #00a29a;
  &:hover{
    color: #4c748e;
    border: 3px solid #4c748e;
  }
}

