/* 符號 */
.forum_unCollect_button #forum_Collect{
  color: #b5b5b6;
  margin-left: 8px;
}
/* 文字 */
.forum_unCollect_button {
  color: #b5b5b6;
  border: none;
}
/* 符號 */
.forum_Collect_button #forum_Collect{
  color: #036eb8;
  margin-left: 8px;

}
/* 文字 */
.forum_Collect_button {
  color: #036eb8;
  border: none;
}
