.root {
box-sizing: border-box;
width: 1200px;
min-height: 440px;
padding-bottom: 40px;

background-color:white;
border-radius: 15px;
margin: 50px auto;
}

.content {
  box-sizing: border-box;
  width: 1289px;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 0px;
  text-align: left;
}
