/* .forum_reply_card{
  width: 1200px;
  height: 220px;
  border-radius: 15px;
  background-color: white;
  margin: 50px auto;
  display: flex;

  }
  
  .forum_relay_user{
    margin: 10px 80px;
  } 

  .forum_right_area {
    position: relative;
  }

  .forum_ButtonBar_wrap {
    position: absolute;
    bottom: 25px;
    right: 0;
  }
  .forum_reply_text{
width: 900px;
height: 80px;
border: 1px solid #dcdddd;
border-radius: 15px;
margin: 60px 0px 0px 0px;
  } */
.reply_card{
  display: flex;
}