.forum_message_card{
width: 1200px;
height: 250px;
border-radius: 15px;
background-color: white;
margin: 50px auto;
}

.forum_message_top{
  display: flex;
}

.forum_user{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  margin: 80px 120px;
}
.forum_message_text{
  display: flex;
  align-items: center;
  padding: 0px 120px 0px 0px;
  line-height: 26px;
}