.forumBar{
  width: 1200px;
  height: 150px;
  background-color: white;
  margin: 50px auto;
  border-radius: 15px;
  display: flex;
}

.forumIconBar{
  display: flex;
  width: 250px;
  justify-content:right;
  align-items: center;
}

#forum_big_Icon{
font-size: 320%;
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

#forum_big_Icon_text{
  font-size: 35%;
  margin-top: 15px;
  padding-right: 8px;
}

.forumTitleBar{
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 120px;
}
#forumTitle{
  font-weight: bold;
  line-height: 30px;
}
.forumTag{
  color: #c9caca;
}

.forum_list_like_bar{
  width: 200px;
  display: flex;
align-items: center;
}

.forumUserBar{
  width: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
}

@media screen and (max-width:400px)  {
  .forum_list_wrap{
    width: 350px !important;
  }
  .forum_search_select{
    width: 350px !important;
    justify-content: center !important;
  }
  .forumBar{
    width: 350px !important;
  }
  .forum_list_button_wrap{
    width: 350px !important;
    flex-direction: column;
    align-items: center;
  }
  .forum_search_bar{
    display: none !important;
  }
  .forumTitleBar{
    padding-left :0px;
  }

}