#forum_search {
  height: 30px;
  border: none;
  border-radius: 20px 0px 0px 20px;
  width: 260px;
  padding-left: 15px;
  }

  #forum_search_glass {
  color: white;
  text-align: center;
  height: 30px;
  width: 40px;
  margin: 0;
  border-radius: 0 20px 20px 0;
  line-height: 28px;
  cursor: pointer;
  /* padding-top: 1px; */
  }


