#forum_search {
  height: 25px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  width: 300px;
  padding-left: 15px;
  }

  #forum_search_glass {
  color: white;
  text-align: center;
  height: 25px;
  width: 25px;
  margin: 0;
  border-radius: 0 10px 10px 0;
  line-height: 25px;
  cursor: pointer;
  }
/* 
  #select{
    width: 120px;
    height: 25px;
    border: none;
    border-radius: 10px;
    color: #c9caca;
  } */


